body {
  font-family: georgia;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}

a {
  color: #900;
}
a:visited {
  color: #500;
}
a:hover {
  color: #f00;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
  color: #000;
}

header {
  background-color: #eee;
  padding: 12px 12px 18px 72px;
}
header h1 {
  font-size: 42px;
}
.byline {
  color: #666;
}

footer {
  background-color: #eee;
  padding: 12px 12px 12px 72px;
}
footer a, footer a:visited {
  color: #333;
}
footer a {
  padding-right: 30px;
}



.post {
  max-width: 580px;
  margin: 72px 72px 144px 72px;
}
.title {
  text-align: center;
  margin-bottom: 36px;
}
.date {
  color: #999;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
h1 a, h1 a:visited {
  color: #000;
  text-decoration: none;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 32px 0px 16px -24px;
  color: #000;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 32px 0px 16px 0px;
  color: #000;
}

p {
  margin: 16px 0px 16px 0px;
}

li {
  margin-left: 24px;
  margin-bottom: 16px;
}