<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Toby Schachman" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header>
      <h1><a href="/">Totem</a></h1>
      <span class="byline">Experiments in new forms of human-computer collaboration by <a href="http://tobyschachman.com/">Toby Schachman</a>.</span>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
